PORT=5000
NODE_ENV=development

ALLOWED_ORIGINS=https://study-planner-eight-hazel.vercel.app/

CLIENT_URL=http://localhost:5173

GOOGLE_API_KEY=AIzaSyBNluXM626VSiHdkWv7LJ2qVXOKmgVjGBY

STRIPE_SECRET_KEY=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
STRIPE_PUBLISHABLE_KEY=pk_live_51SvJSI35w6HjLDvcnow4izKHo9xgBsLMcPIGkQ3u2RDROUogrGCnafpc5dfIVOZBxQeokP9RevHoQBUHITS3ibOX00gGBl4ZFa
STRIPE_WEBHOOK_SECRET=whsec_h0FSpo6EurAJp0g5iz2lkTCMjB8wRmYd