# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: |
          BACKEND/package-lock.json
          FRONTEND/package-lock.json
    - name: Install Backend Dependencies
      run: npm ci --prefix BACKEND
    - name: Install Frontend Dependencies
      run: npm ci --prefix FRONTEND
    - name: Build Backend
      run: npm run build --if-present --prefix BACKEND
    - name: Build Frontend
      run: npm run build --if-present --prefix FRONTEND
    - name: Test Backend
      run: npm test --if-present --prefix BACKEND
    - name: Test Frontend
      run: npm test --if-present --prefix FRONTEND
